body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: #fff;
}

/* HEADER */
header {
  background: #111;
  padding: 15px;
  text-align: center;
}

header h1 {
  color: gold;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

/* HERO IMAGE */
.hero img {
  width: 100%;
  height: auto;
}

/* CATEGORIES */
.categories {
  text-align: center;
  padding: 40px;
}

.card {
  display: inline-block;
  background: #111;
  border: 1px solid gold;
  padding: 20px;
  margin: 10px;
}

/* PRODUCTS */
.products {
  text-align: center;
}

.product {
  border: 1px solid gold;
  margin: 20px;
  padding: 20px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 15px;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #111;
  text-align: center;
  padding: 10px;
}
