body{

font-family:Arial;
margin:0;
background:#f5f5f5;

}


header{

background:#0a7f3f;
color:white;
padding:20px;
display:flex;
justify-content:space-between;

}


.search{

padding:10px;
width:200px;

}


nav{

background:#222;
text-align:center;
padding:10px;

}

nav a{

color:white;
text-decoration:none;
margin:15px;

}


.hero img{

width:100%;

}


.category{

text-align:center;
padding:40px;

}


.box{

display:inline-block;
background:white;
padding:20px;
margin:10px;
width:150px;
box-shadow:0 0 10px gray;

}


.products{

text-align:center;
padding:40px;

}


.card{

display:inline-block;
background:white;
width:220px;
margin:15px;
padding:20px;
box-shadow:0 0 10px gray;

}


.card img{

width:100%;

}


.order{

background:#0a7f3f;
color:white;
padding:10px;
display:inline-block;
text-decoration:none;

}


.payment{

text-align:center;
padding:40px;

}


.qr{

width:200px;

}


footer{

background:black;
color:white;
text-align:center;
padding:20px;

}
